<% include ../partials/style %>
<% include ../stuff/UpMenu %>
<br>
<div class="=">
<div class="col s12">
<% if (ClientsItems.length > 0) { %>
<table class="table1"> 
<thead>
<tr>
<th class="IdHide" style="width:1%; text-align:center">ID</th>
<th style="width:32%">ФИО</th>
<th style="width:32%">Дата рождения</th>
<th style="width:32%">Скидочная карта</th>
</tr>
</thead>
<tbody>

<% 
function FormatDate(standate) { 
   const stardate = `${standate}`; 
   let SecondDat; 
   const stdat = stardate.match(/\w{2,4}/gi); 
   const ArrayMonth = [ 
   { month: 'Jan', number: '01' }, 
   { month: 'Feb', number: '02' }, 
   { month: 'Mar', number: '03' }, 
   { month: 'Apr', number: '04' }, 
   { month: 'May', number: '05' }, 
   { month: 'Jun', number: '06' }, 
   { month: 'Jul', number: '07' }, 
   { month: 'Aug', number: '08' }, 
   { month: 'Sep', number: '09' }, 
   { month: 'Oct', number: '10' }, 
   { month: 'Nov', number: '11' }, 
   { month: 'Dec', number: '12' }, 
   ]; 
   for (let i = 0; i < ArrayMonth.length; i += 1) { 
   if (stdat[1] === ArrayMonth[i].month) { 
   SecondDat = ArrayMonth[i].number; 
   } 
   } 
   return `${stdat[3]}-${SecondDat}-${stdat[2]}`; 
   }
 ClientsItems.forEach(function (item, index){ %>
<tr> 
<td  class="td1"><%= item.IdClient %></td>
<td  class="td2"><%= item.NameClient %></td>
<td  class="td2"><%= FormatDate(item.BirthdayClient) %></td>
<td  class="td2"><%= item.TypeCardClient %></td>
<td solspan = "2" style ="width: 20%; text-align:center">
<a href ="/client/edit/<%= ClientsItems.IdClient %>">Изменить</a>
<a href ="/client/delete/<%= ClientsItems.IdClient %>">Удалить</a>
</td>
   </tr>

   <% }); %>
  </tbody>
  </table>
  <% }else{ %>
  <p><strong> Фильмы отсутсвуют </strong></p>
  <% } %>
  </div>
  </div>  
<div class ="">
      <div class ="col s12">
         <input type="button" class="Button1" value="Добавить нового клиента" onclick="document.getElementById('FormFilmAdd').style.display ='block';
          document.getElementById('IdClient').value=<%=ClientsItems[ClientsItems.length-1].IdClient+1; %>">
      </div>
     </div>

</body>
</html>