<% include ../partials/style %>
<% include ../stuff/UpMenu %>
<br>
<div class="=">
<div class="col s12">
<% if (filmsMediumsItems.length > 0) { %>
<table class="table1"> 
<thead>
<tr>
<th style="width:1%; text-align:center">IdFilm</th>
<th style="width:30%">Фильм</th>
<th style="width:30%">Тип носителя</th>
<th style="width:30%">Стоимость</th>
</tr>
</thead>
<tbody>
  <% 
  i=0;
filmsMediumsItems.forEach(function (item, index){
  i++;
  if (i<filmsMediumsItems.length){
if (filmsMediumsItems[i-1].IdFilmMedium!==filmsMediumsItems[i].IdFilmMedium){
    %>
<tr> 
<td  class="td1"><%= filmsMediumsItems[i-1].IdFilmMedium %></td>
<td  class="td2"><%= filmsMediumsItems[i-1].NameFilmMedium %></td>
<td  class="td2"><%= filmsMediumsItems[i-1].NameMediumFilm %></td>
<td  class="td2"><%= filmsMediumsItems[i-1].StoimFilmMedium %></td>
<td solspan = "2" style ="width: 20%; text-align:center">
<a href ="">Изменить</a>
<a href ="">Удалить</a>
</td>
   </tr>
  <% 
}
}
}); %>
<tr> 
    <td  class="td1"><%= filmsMediumsItems[i-1].IdFilmMedium %></td>
    <td  class="td2"><%= filmsMediumsItems[i-1].NameFilmMedium %></td>
    <td  class="td2"><%= filmsMediumsItems[i-1].NameMediumFilm %></td>
    <td  class="td2"><%= filmsMediumsItems[i-1].StoimFilmMedium %></td>
<td solspan = "2" style ="width: 20%; text-align:center">
<a href ="">Изменить</a>
<a href ="">Удалить</a>
</td>
   </tr>
  </tbody>
  </table>
  <% }else{ %>
  <p><strong> Фильмы отсутсвуют </strong></p>
  <% } %>
  </div>
  </div>  
<div> 
  <select>
   
    <%
      i=1;
      k=0;
      k2=0;
      function f(){ %> 
        <option><%= filmsMediumsItems[i].MediumType %></option>
         <%
        i++;     
       }; 
      for (i=0;i<filmsMediumsItems.length; i++){
        if (k2==0){
          k2=1;
          f();
        }
        else
        {
        if (filmsMediumsItems[i].IdMedium==filmsMediumsItems[0].IdMedium) {
          break  }     
         f(); 
         k++;
        }  
      }
      %>
      </select>
    </div> 

    <div> 
        <select>
          <%
            i=1;
            k=0;
            k2=0;
            function f2(){ %> 
              <option><%= filmsMediumsItems[i].NameFilm %></option>
               <%
              i++;     
             }; 
            for (i=0;i<filmsMediumsItems.length; i++){
              if (k2==0) {
                
                f2();
              }
             
            }
            %>
            </select>
          </div> 
<div class ="">
      <div class ="col s12">
         <input type="button" class="Button1" value="Добавить новый фильм" onclick="document.getElementById('FormFilmAdd').style.display ='block'; document.getElementById('IdFilm').value=<%= filmsMediumsItems.length %>;">
      </div>
     </div>

</body>
</html>