<% include ../partials/style %>
<% include ../stuff/UpMenu %>
<br>
<div class="=">
<div class="col s12">
    <% 
    function removeDuplicates(originalArray, objKey) {
      var trimmedArray = [];
      var values = [];
      var value;
    
      for(var i = 0; i < originalArray.length; i++) {
        value = originalArray[i][objKey];
    
        if(values.indexOf(value) === -1) {
          trimmedArray.push(originalArray[i]);
          values.push(value);
        }
      }
          return trimmedArray;
    }
    var filmsMediumsItemsClean = removeDuplicates(filmsMediumsItems, 'IdFilmMedium');
    var filmsMediumsItemsClean2 = removeDuplicates(filmsMediumsItems, 'NameFilm');
    var filmsMediumsItemsClean3 = removeDuplicates(filmsMediumsItems, 'MediumType');
if (filmsMediumsItemsClean.length > 1) { %>
<table class="table1"> 
<thead>
<tr>
<th style="width:1%; text-align:center">IdFilm</th>
<th style="width:30%">Фильм</th>
<th style="width:30%">Тип носителя</th>
<th style="width:30%">Стоимость</th>
</tr>
</thead>
<tbody>
  <% 
  i=0;
for (i=0; i<filmsMediumsItemsClean.length; i++){
  if (filmsMediumsItemsClean[i].IdFilmMedium>0){
  %>
<tr> 
<td  class="td1"><%= filmsMediumsItemsClean[i].IdFilmMedium %></td>
<td  class="td2"><%= filmsMediumsItemsClean[i].NameFilmMedium %></td>
<td  class="td2"><%= filmsMediumsItemsClean[i].NameMediumFilm %></td>
<td  class="td2"><%= filmsMediumsItemsClean[i].StoimFilmMedium %></td>
<td solspan = "2" style ="width: 20%; text-align:center">
<a href ="">Изменить</a>
<a href ="/filmsMediums/delete/<%= filmsMediumsItemsClean[i].IdFilmMedium %>">Удалить</a>
</td>
   </tr>
  <% 
}}; %>
  </tbody>
  </table>
  <% }else{ %>
  <p><strong> Фильмы отсутсвуют </strong></p>
  <% } %>
  </div>
  </div>  

 
<div class ="">
      <div class ="col s12">
         <input type="button" class="Button1" value="Добавить новую запись" onclick="document.getElementById('FormFilmMediumAdd').style.display ='block'; document.getElementById('IdFilmMedium').value=<%= filmsMediumsItemsClean.length+2 %>;">
      </div>
     </div>
     <% include ../pages/add-filmsMediums%>
</body>
</html>