<% include ../partials/header %>
<% include ../partials/style %>
<% include ../stuff/UpMenu %>
<br>
<div class="=">
<div class="col s12">
<% if (items.length > 0) { %>
<table class="table1"> 
<thead>
<tr>
<th class="IdHide" style="width:1%; text-align:center">ID</th>
<th style="width:33%">Название фильма</th>
<th style="width:33%">Жанр</th>
<th style="width:32%">Стоимость</th>
</tr>
</thead>
<tbody>

<% items.forEach(function (item, index){ %>
<tr> 
<td  class="td1"><%= item.IdFilm %></td>
<td  class="td2"><%= item.NameFilm %></td>
<td  class="td2"><%= item.GenreFilm %></td>
<td  class="td2"><%= item.StoimFilm %></td>
<td  class="td2"></td>
<td solspan = "2" style ="width: 20%; text-align:center">
<a href ="/element/edit/<%= item.IdFilm %>">Изменить</a>
<a href ="/element/delete/<%= item.IdFilm %>">Удалить</a>
</td>
   </tr>

   <% }); %>
  </tbody>
  </table>
  <% }else{ %>
  <p><strong> Фильмы отсутсвуют </strong></p>
  <% } %>
  </div>
  </div>  
<div class ="">
      <%console.log(items[items.length-1]); %>
      <div class ="col s12">
         <input type="button" class="Button1" value="Добавить новый фильм" onclick="document.getElementById('FormFilmAdd').style.display ='block';
          document.getElementById('IdFilm').value=<%=items[items.length-1].IdFilm+1; %>">
      </div>
     </div>

<% include ../pages/add-element%>
<% include ../pages/add-element%>
</body>
</html>