<% include ../partials/style %>
<% include ../stuff/UpMenu %>
<br>
<div class="=">
<div class="col s12">
<% if (MediumsItems.length > 0) { %>
<table class="table1"> 
<thead>
<tr>
<th class="IdHide" style="width:1%; text-align:center">ID</th>
<th style="width:49%">Тип носителя</th>
<th style="width:49%">Стоимость</th>
</tr>
</thead>
<tbody>

<% MediumsItems.forEach(function (item, index){ %>
<tr> 
<td  class="td1"><%= item.IdMedium %></td>
<td  class="td2"><%= item.MediumType %></td>
<td  class="td2"><%= item.StoimMedium %></td>
<td  class="td2"></td>
<td solspan = "2" style ="width: 20%; text-align:center">
<a href ="">Изменить</a>
<a href ="/medium/delete/<%= item.IdMedium %>">Удалить</a>
</td>
   </tr>

   <% }); %>
  </tbody>
  </table>
  <% }else{ %>
  <p><strong> Фильмы отсутсвуют </strong></p>
  <% } %>
  </div>
  </div>  
<div class ="">
      <div class ="col s12">
         <input type="button" class="Button1" value="Добавить новый фильм" onclick="document.getElementById('FormFilmAdd').style.display ='block'; 
         document.getElementById('IdMedium').value=<%=MediumsItems[MediumsItems.length-1].IdMedium+1;  %>;">
      </div>
     </div>
     <% include ../pages/add-medium%>
</body>
</html>